# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

.venv/
# Fortran module files
*.mod
*.smod

# files that are created but shouldnt be uploaded
mlir-translate
llc_mlir
*.ptx
out.mlir
cleanOutput.mlir
docs.md
ideas.md
output.ll
output.mlir
*.pyc
*.npz
notes.md
Example_generated.mlir
testing.py

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

build/

FileCheck
cliff-opt